%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm
  %a.navbar-brand{:href => "/"} GKG News
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Cadastros
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to 'Users', users_path, {class: 'dropdown-item'} 
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
    .form-inline.my-2.my-lg-0
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        = link_to 'Login', new_user_session_path
