%nav.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm
  %a.navbar-brand{href: '/'} GrailsTemplate
  %button.navbar-toggler{'aria-controls': 'mainNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation', 'data-target': '#mainNav', 'data-toggle': 'collapse', type: 'button'}
    %span.navbar-toggler-icon
  #mainNav.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{'aria-expanded': 'false', 'aria-haspopup': 'true', 'data-toggle': 'dropdown', href: '#', role: 'button'}
          Cadastros
        .dropdown-menu{'aria-labelledby': 'navbarDropdown'}
          = link_to 'Users', users_admin_index_path, {class: 'dropdown-item'} 
          .dropdown-divider
          %a.dropdown-item{href: '#'} Something else here
    .form-inline.my-2.my-lg-0
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        = link_to 'Login', new_user_session_path
